<div>
    <input type="checkbox" [(ngModel)]="showField"><br>
    <button class="btn btn-info text-white" *ngIf="showField">
        Submit
    </button>
    <hr>

    @if(showField){
    <button class="btn btn-info text-white">
        Submit
    </button>
    }
</div>

<div>
    <ol>
        <li *ngFor="let city of cities">
            {{city}}
        </li>
    </ol>

    <ol>
        @for(city of cities;track city){
        <li> {{ city }}</li>
        }
    </ol>
</div>

<div>
    <div [ngSwitch]="staticField">
        <p *ngSwitchCase="'No'">First Shown</p>
        <p *ngSwitchCase="'Yes'">Second Shown</p>
        <p *ngSwitchDefault>Third Shown</p>
    </div>

    @switch(staticField){
        @case('No'){
            <p>First Shown</p>
        }
        @case('Yes'){
            <p>Second Shown</p>
        }
        @default{
            <p>Third Shown</p>
        }
    }
</div>